<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Wiki Content View</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div id="wrap" ng-app ng-controller="ListAndDetailsController">
		<div class="container">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Your Content</th> 
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in data" ng-click="showInfoForEntry(entry)">
 						<td>{{entry.content_title}}</td> 
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered" ng-show="showEntry">
				<div ng-model="selectedEntry" class="well">
                    <div id="myDiv"></div>
				</div>
                <div>
                    <td>Author: {{selectedEntry.content_author}}</td> 
				</div>
			</table>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-resource.min.js"></script>
    
	<script type="text/javascript">
		function ListAndDetailsController($scope, $http) {
			
			var url = '/dirigible/js/wiki_sample/content.js';
            
			$http.get(url)
			    .success(function(data) {
				    $scope.data = data;
		    	});

			$scope.showEntry = false;
			$scope.selectedEntry;

			$scope.showInfoForEntry = function(entry) {
				if ($scope.selectedEntry === entry) {
					$scope.showEntry = false;
					$scope.selectedEntry = null;
				} else {
					$scope.showEntry = true;
				    $scope.selectedEntry = entry;
                    var urlContent = '/dirigible/js/wiki_sample/content.js?content_id=' + entry.content_id;
                    $.get(urlContent , function (data) {
                         $("#myDiv").html(data);
                     });
				}
			}
		}
	</script>

</body>
</html>
